$pink-bg: #F47C64;
$white-bg: #fff;
.pink-bg{
  background: $pink-bg;
  display: flex;
  align-items: center;
}
.journey-box{
    background:$white-bg;
    padding: 50px;
    border-radius: 10px;
    p{
      font-size: 20px;
    }
    h1{
      color: $pink-bg;
      font-size: 26px;
    }

    .your-name-box {
      display: inline-block;
      background: $pink-bg;
      min-width: 300px;
      max-width: 630px;
      border-radius: 20px;
      padding: 15px 10px 20px;
      margin-top: 20px;
      h2{
        color: $white-bg;
        line-height: 1;
        margin: 0;
      }
      p{
        color: $white-bg;
        font-size: 16px;
        margin: 0 0 5px 0;
      }
      form{
        input{
          width: 100%;
          border: 0;
          font-size: 60px;
          padding: 5px 10px;
          text-align: center;
          font-weight: 700;
          line-height: 1.1;
          text-transform: uppercase;
          min-width: 100%;
          max-width: 600px;
        }
      }
  }
}
