<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<title>Dashboard Dark - Muse Documentation | Muse - Responsive Website Template</title>
<meta charset="UTF-8">
<meta name="description" content="Muse">
<meta name="keywords" content="Muse">
<meta name="author" content="Muse">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Muse Favicon -->
<link href="../../favicon.ico" rel="shortcut icon" type="image/x-icon">
<!-- Muse Plugins CSS -->
<link href="../../assets/vendor/simplebar/dist/simplebar.min.css" rel="stylesheet" type="text/css" media="all">
<!-- Muse Theme CSS -->
<link href="../../assets/css/theme.min.css" rel="stylesheet" type="text/css" media="all">
</head>
<body class="dark-mode dashboard-template" id="mainBox">

<!-- RTL Button -->
<div class="badge badge-primary rounded-pill p-3 muze-hamburger position-fixed bottom-0 mb-3 mx-3 end-0 z-index10" id="RTLMode"><span class="me-2 rtl-text">RTL</span><div class="mb-0 form-check form-switch">
  <input class="form-check-input me-0" type="checkbox" id="flexSwitchCheckDefault"></div><span class="ltr-text">LTR</span></div>

<!-- Navbar, Navbar Vertical, Navbar Expand Md, Navbar Light -->
<nav class="navbar navbar-vertical navbar-expand-md navbar-light">
  <a href="javascript:void(0);" class="back-arrow d-block d-md-none">
    <img src="../../assets/svg/icons/hamburger-white.svg" alt="img">
    <img src="../../assets/svg/icons/close-white.svg" style="width:20px;" class="menu-close" alt="img">
  </a>
  <a class="navbar-brand mx-auto d-block my-0 my-md-4" href="javascript:void(0)">
    <img src="../../assets/svg/brand/muse-icon-white.svg" class="muse-icon" alt="Muse">
  </a>
  <div class="navbar-user d-md-none">
    <div class="dropdown">
      <a href="javascript:void(0);" id="sidebarIcon" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="avatar avatar-sm avatar-circle">
          <img src="../../assets/img/templates/avatar1.svg" class="avatar-img rounded-circle" alt="img">
          <span class="avatar-status avatar-sm-status avatar-success"></span>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarIcon">
        <a href="javascript:void(0);" class="dropdown-item">Profile</a>
        <a href="javascript:void(0);" class="dropdown-item">Settings</a>
        <hr class="dropdown-divider">
        <a href="javascript:void(0);" class="dropdown-item">Logout</a>
      </div>
    </div>
  </div>
  <div class="navbar-collapse">
    <ul class="navbar-nav mb-2" id="accordionExample" data-simplebar>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#sidebarLanding" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLanding">
          <img src="../../assets/svg/icons/power-outline-gray.svg" alt="Power" class="me-2"> &nbsp;Landing
        </a>
        <div class="collapse collapse-box" id="sidebarLanding" data-parent="#accordionExample">
          <ul class="nav nav-sm flex-column">
            <li class="nav-item">
              <a href="../templates/saas-style-one.html" class="nav-link active">
                Link 1
              </a>
            </li>
            <li class="nav-item">
              <a href="../templates/saas-style-two.html" class="nav-link ">
                Link 2
              </a>
            </li>
            <li class="nav-item">
              <a href="../templates/saas-style-three.html" class="nav-link ">
                Link 3
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
          <img src="../../assets/svg/icons/chart-gray.svg" alt="Chart" class="me-2"> &nbsp;Dashboards
        </a>
        <div class="collapse collapse-box" id="sidebarDashboards" data-parent="#accordionExample">
          <ul class="nav nav-sm flex-column">
            <li class="nav-item">
              <a href="../templates/dashboard.html" class="nav-link">Light Mode</a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0);" class="nav-link">Dark Mode</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#sidebarPages" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPages">
          <img src="../../assets/svg/icons/page-gray.svg" alt="Chart" class="me-2"> &nbsp;Pages
        </a>
        <div class="collapse collapse-box" id="sidebarPages" data-parent="#accordionExample">
          <ul class="nav nav-sm flex-column">
            <li class="nav-item">
              <a href="../templates/dashboard.html" class="nav-link">Light Mode</a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0);" class="nav-link">Dark Mode</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../documentation/index.html">
          <img src="../../assets/svg/icons/docs-gray.svg" alt="Paperclip" class="me-2"> <span class="ps-1">Docs</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../snippets/index.html">
          <img src="../../assets/svg/icons/paperclip-gray.svg" alt="Paperclip" class="me-2"> <span class="ps-1">Snippets</span>
        </a>
      </li>
    </ul>
    <div class="mt-3 mt-md-auto mb-3 signout d-grid">
      <a href="../pages/pricing.html" class="btn btn-primary btn-lg"><img src="../../assets/img/dashboard/cart-outline.svg" alt="Cart"><span>Buy Now</span></a>
    </div>
  </div>
</nav>

<!-- Main Content -->
<div class="main-content">
  <div class="header p-0 p-md-3">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col d-flex align-items-center">
            <a href="javascript:void(0);" class="back-arrow bg-black-600 circle circle-sm shadow-dark-80 rounded mb-0"><img src="../../assets/svg/icons/chevrons-left-white.svg" alt="Chevrons"></a>
            <div class="ps-0 ps-md-3">
              <h1 class="h4 mb-0">
                Dashboard
              </h1>
            </div>
          </div>
          <div class="col-auto d-flex flex-wrap align-items-center">
            <a href="javascript:void(0);" class="text-dark h5 mb-0 notification dnd"><img src="../../assets/svg/icons/notification-white.svg" style="width:20px;" alt="Notification"></a>
            <a href="javascript:void(0);" class="text-dark ms-4 h5 mb-0 ps-2"><img src="../../assets/svg/icons/setting-white.svg" alt="Setting"></a>
            <a href="javascript:void(0);" class="text-dark ms-4 h5 mb-0 ps-2"><img src="../../assets/svg/icons/hamburger-white.svg" alt="Hamburger"></a>
            <div class="dropdown d-none d-md-inline-block ps-2">
              <a href="javascript:void(0);" class="avatar avatar-sm avatar-circle ms-4" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton">
                <img class="avatar-img avatar-border-sm" src="../../assets/img/templates/avatar1.svg" alt="Avatar">
                <span class="avatar-status avatar-sm-status avatar-danger">&nbsp;</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="javascript:void(0);">Profile</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Settings</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-3 bg-black-600">
  <div class="px-0 px-md-3">
    <div class="container-fluid pt-2 pt-lg-3 pb-md-3">
      <div class="row">
        <div class="col-sm-6 col-md-12 col-xl-6 col-xxl-3">
          <div class="card mb-4 rounded-12 shadow-dark-80">
            <div class="card-body p-3 p-xl-3 p-xxl-4">
              <div class="row align-items-center">
                <div class="col">
                  <span class="small text-gray-600 d-block mb-1">Revenue</span>
                  <span class="h5 mb-0">$2,563</span>
                </div>
                <div class="col-auto">
                  <span class="badge badge-success py-2 px-2"><span class="px-1">156+ <img src="../../assets/svg/icons/trend-up1.svg" class="ms-1" alt="Trend Up"></span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-12 col-xl-6 col-xxl-3">
          <div class="card mb-4 rounded-12 shadow-dark-80">
            <div class="card-body p-3 p-xl-3 p-xxl-4">
              <div class="row align-items-center">
                <div class="col">
                  <span class="small text-gray-600 d-block mb-1">Friends</span>
                  <span class="h5 mb-0">9 New</span>
                </div>
                <div class="col-auto">
                  <div class="avatar-group">
                    <span class="avatar avatar-circle">
                      <img class="avatar-img border-0" src="../../assets/img/templates/avatar2.png" alt="Avatar">
                    </span>
                    <span class="avatar avatar-circle">
                      <img class="avatar-img border-0" src="../../assets/img/templates/avatar3.png" alt="Avatar">
                    </span>
                    <span class="avatar avatar-circle">
                      <img class="avatar-img border-0" src="../../assets/img/templates/avatar4.png" alt="Avatar">
                    </span>
                    <span class="avatar avatar-circle">
                      <span class="avatar-initials avatar-dark-light border-transprant">+6</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-12 col-xl-6 col-xxl-3">
          <div class="card mb-4 rounded-12 shadow-dark-80">
            <div class="card-body p-3 p-xl-3 p-xxl-4">
              <div class="row align-items-center">
                <div class="col">
                  <span class="small text-gray-600 d-block mb-1">Freebies</span>
                  <span class="h5 mb-0">$156.00</span>
                </div>
                <div class="col-auto">
                  <div class="position-relative">
                    <img src="../../assets/svg/icons/gift-white.svg" style="width: 32px;" alt="Gift" class="mt-1">
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-warning rounded-circle bg-orange-300 p-1"><span class="visually-hidden">unread messages</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-12 col-xl-6 col-xxl-3">
          <div class="card mb-4 rounded-12 shadow-dark-80">
            <div class="card-body p-3 p-xl-3 p-xxl-4">
              <div class="row align-items-center">
                <div class="col">
                  <span class="small text-gray-600 d-block mb-1">This week</span>
                  <span class="h5 mb-0">Progress</span>
                </div>
                <div class="col-auto">
                  <div id="MuseColumnsChartOne" style="width: 105px;height: 50px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-4">
          <div class="card rounded-12 shadow-dark-80">
            <div class="card-body px-3 px-md-4">
              <div class="d-flex align-items-center border-bottom border-gray-800 pb-3 mb-2">
                <h6 class="card-header-title mb-0">Breakdown</h6>
                <div class="ms-auto">
                  <select class="form-select form-select-sm">
                    <option>Today</option>
                  </select>
                </div>
              </div>
              <div id="MuseMultipleColumnsChartOne"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mb-4">
          <div class="card h-100 rounded-12 shadow-dark-80">
            <div class="card-body px-3 px-md-4">
              <div class="d-flex align-items-center border-bottom border-gray-800 pb-3 mb-2">
                <h6 class="card-header-title mb-0">Refferals</h6>
                <div class="ms-auto">
                  <select class="form-select form-select-sm">
                    <option>Today</option>
                  </select>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-4">
                <div id="MusePieChartOne" style="height: 380px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-4 mb-4">
          <div class="card rounded-12 shadow-dark-80">
            <div class="p-3 p-md-4 border-bottom border-gray-800">
              <h6 class="mb-0 ">Projects</h6>
            </div>
            <div class="card-body px-3 px-md-4 pb-2 pt-0">
              <div class="list-group list-group-flush my-n3">
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="avatar avatar-circle">
                        <img class="avatar-img" src="../../assets/img/dashboard/avatar30.png" alt="Avatars">
                        <span class="avatar-status avatar-success">&nbsp;</span>
                      </span>
                    </div>
                    <div class="col ps-1">
                      <h6 class="mb-1">
                        <a href="javascript:void(0);">Amarachi Nkechi</a>
                      </h6>
                      <p class="card-text small text-gray-600">Updated 3hr ago</p>
                    </div>
                    <div class="col-auto">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="avatar-img" src="../../assets/svg/icons/dots1.svg" alt="Avatars">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0)" class="dropdown-item">
                            Action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Another action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="avatar avatar-circle">
                        <img class="avatar-img" src="../../assets/img/dashboard/avatar31.png" alt="Avatars">
                        <span class="avatar-status avatar-warning">&nbsp;</span>
                      </span>
                    </div>
                    <div class="col ps-1">
                      <h6 class="mb-1">
                        <a href="javascript:void(0);">Lara Madrigal</a>
                      </h6>
                      <p class="card-text small text-gray-600">Updated 4hr ago</p>
                    </div>
                    <div class="col-auto">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="avatar-img" src="../../assets/svg/icons/dots1.svg" alt="Avatars">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0)" class="dropdown-item">
                            Action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Another action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="avatar avatar-circle">
                        <img class="avatar-img" src="../../assets/img/dashboard/avatar32.png" alt="Avatars">
                        <span class="avatar-status avatar-danger">&nbsp;</span>
                      </span>
                    </div>
                    <div class="col ps-1">
                      <h6 class="mb-1">
                        <a href="javascript:void(0);">Ray Cooper</a>
                      </h6>
                      <p class="card-text small text-gray-600">Updated 4hr ago</p>
                    </div>
                    <div class="col-auto">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="avatar-img" src="../../assets/svg/icons/dots1.svg" alt="Avatars">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0)" class="dropdown-item">
                            Action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Another action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="avatar avatar-circle">
                        <img class="avatar-img" src="../../assets/img/dashboard/avatar33.png" alt="Avatars">
                        <span class="avatar-status avatar-offline">&nbsp;</span>
                      </span>
                    </div>
                    <div class="col ps-1">
                      <h6 class="mb-1">
                        <a href="javascript:void(0);">Linzell Bowman</a>
                      </h6>
                      <p class="card-text small text-gray-600">Updated 4hr ago</p>
                    </div>
                    <div class="col-auto">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="avatar-img" src="../../assets/svg/icons/dots1.svg" alt="Avatars">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0)" class="dropdown-item">
                            Action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Another action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-8 mb-4">
          <div class="card rounded-12 shadow-dark-80 h-100">
            <div class="card-body px-3 px-md-4">
              <div class="d-flex align-items-center pb-3">
                <h6 class="card-header-title mb-0">Map</h6>
                <div class="ms-auto">
                  <select class="form-select form-select-sm">
                    <option>Today</option>
                  </select>
                </div>
              </div>
              <div id="MuseMapChart" style="height: 300px;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card rounded-12 shadow-dark-80">
            <div class="d-flex align-items-center px-4 py-3">
              <h6 class="card-header-title mb-0">Goals</h6>
              <div class="ms-auto">
                <select class="form-select form-select-sm">
                  <option>Today</option>
                </select>
              </div>
            </div>
            <div class="table-responsive mb-0">
              <table class="table card-table table-nowrap">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th>Due date</th>
                    <th class="text-end">Team</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="list"><tr>
                    <td class="goal-project">
                      Monthly Report
                    </td>
                    <td class="goal-status">
                      <span class="avatar-status avatar-sm-status avatar-success position-relative me-1 bottom-0 end-0">&nbsp;</span> Completed
                    </td>
                    <td class="goal-progress">100%</td>
                    <td class="goal-date">01/12/21</td>
                    <td>
                      <div class="avatar-group justify-content-end">
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar2.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar3.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar4.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <span class="avatar-initials bg-gray-200 text-black-600 border-0">+9</span>
                        </span>
                      </div>
                    </td>
                    <td class="text-end">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="avatar-img" src="../../assets/svg/icons/dots1.svg" style="width:16px;" alt="Avatars">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0)" class="dropdown-item">
                            Action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Another action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="goal-project">
                      UI Design
                    </td>
                    <td class="goal-status"><span class="avatar-status avatar-sm-status avatar-warning position-relative me-1 bottom-0 end-0">&nbsp;</span> Pending</td>
                    <td class="goal-progress">60%</td>
                    <td class="goal-date">05/12/21</td>
                    <td>
                      <div class="avatar-group justify-content-end">
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar2.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar3.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar4.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <span class="avatar-initials bg-gray-200 text-black-600 border-0">+6</span>
                        </span>
                      </div>
                    </td>
                    <td class="text-end">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="avatar-img" src="../../assets/svg/icons/dots1.svg" style="width:16px;" alt="Avatars">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0)" class="dropdown-item">
                            Action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Another action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="goal-project">
                      React Components
                    </td>
                    <td class="goal-status"><span class="avatar-status avatar-sm-status avatar-danger position-relative me-1 bottom-0 end-0">&nbsp;</span> Cancelled</td>
                    <td class="goal-progress">0%</td>
                    <td class="goal-date">06/12/21</td>
                    <td>
                      <div class="avatar-group justify-content-end">
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar2.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar3.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar4.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <span class="avatar-initials bg-gray-200 text-black-600 border-0">+2</span>
                        </span>
                      </div>
                    </td>
                    <td class="text-end">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="avatar-img" src="../../assets/svg/icons/dots1.svg" style="width:16px;" alt="Avatars">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0)" class="dropdown-item">
                            Action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Another action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="goal-project">
                      Bootstrap 5 Upgrade
                    </td>
                    <td class="goal-status"><span class="avatar-status avatar-sm-status avatar-offline position-relative me-1 bottom-0 end-0">&nbsp;</span> Not started</td>
                    <td class="goal-progress">0%</td>
                    <td class="goal-date">24/12/21</td>
                    <td>
                      <div class="avatar-group justify-content-end">
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar3.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar4.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar1.svg" alt="Avatar">
                          <span class="avatar-status avatar-xs-status avatar-offline">&nbsp;</span>
                        </span>
                      </div>
                    </td>
                    <td class="text-end">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="avatar-img" src="../../assets/svg/icons/dots1.svg" style="width:16px;" alt="Avatars">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0)" class="dropdown-item">
                            Action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Another action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="goal-project">
                      Fonts Design
                    </td>
                    <td class="goal-status"><span class="avatar-status avatar-sm-status avatar-offline position-relative me-1 bottom-0 end-0">&nbsp;</span> Not started</td>
                    <td class="goal-progress">
                      0%
                    </td>
                    <td class="goal-date">17/12/21</td>
                    <td>
                      <div class="avatar-group justify-content-end">
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar4.png" alt="Avatar">
                        </span>
                        <span class="avatar avatar-xs avatar-circle">
                          <img class="avatar-img border-0" src="../../assets/img/dashboard/avatar1.svg" alt="Avatar">
                          <span class="avatar-status avatar-xs-status avatar-offline">&nbsp;</span>
                        </span>
                      </div>
                    </td>
                    <td class="text-end">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="avatar-img" src="../../assets/svg/icons/dots1.svg" style="width:16px;" alt="Avatars">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:void(0)" class="dropdown-item">
                            Action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Another action
                          </a>
                          <a href="javascript:void(0)" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-5 mb-4">
          <div class="card rounded-12 shadow-dark-80">
            <div class="px-3 px-md-4 py-3 border-bottom border-gray-800 d-flex align-items-center">
              <h6 class="mb-0 py-1">Activity</h6>
              <a href="javascript:void(0);" class="py-1 tiny ms-auto btn btn-link link-light">View all<svg class="ms-1" data-name="icons/tabler/chevron right" xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 16 16">
                <rect data-name="Icons/Tabler/Chevron Right background" width="16" height="16" fill="none"></rect>
                <path d="M.26.26A.889.889,0,0,1,1.418.174l.1.086L8.629,7.371a.889.889,0,0,1,.086,1.157l-.086.1L1.517,15.74A.889.889,0,0,1,.174,14.582l.086-.1L6.743,8,.26,1.517A.889.889,0,0,1,.174.36Z" transform="translate(4)" fill="#ffffff"></path>
              </svg></a>
            </div>
            <div class="card-body px-3 px-md-4 pb-2 pt-0">
              <div class="list-group list-group-flush my-n3">
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="avatar avatar-circle">
                        <img class="avatar-img" src="../../assets/img/dashboard/avatar30.png" alt="Avatars">
                        <span class="avatar-status avatar-success">&nbsp;</span>
                      </span>
                    </div>
                    <div class="col ps-1">
                      <h6 class="mb-1">
                        <a href="javascript:void(0);">Amarachi Nkechi</a>
                      </h6>
                      <p class="card-text small text-gray-600">Uploaded Team.zip file on shared cloud</p>
                    </div>
                    <div class="col-auto">
                      <small class="text-gray-600">Just now</small>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="avatar avatar-circle">
                        <img class="avatar-img" src="../../assets/img/dashboard/avatar31.png" alt="Avatars">
                        <span class="avatar-status avatar-warning">&nbsp;</span>
                      </span>
                    </div>
                    <div class="col ps-1">
                      <h6 class="mb-1">
                        <a href="javascript:void(0);">Lara Madrigal</a>
                      </h6>
                      <p class="card-text small text-gray-600">Shared a new blog post Design Systems</p>
                    </div>
                    <div class="col-auto">
                      <small class="text-gray-600">3m ago</small>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="avatar avatar-circle">
                        <img class="avatar-img" src="../../assets/img/dashboard/avatar32.png" alt="Avatars">
                        <span class="avatar-status avatar-danger">&nbsp;</span>
                      </span>
                    </div>
                    <div class="col ps-1">
                      <h6 class="mb-1">
                        <a href="javascript:void(0);">Ray Cooper</a>
                      </h6>
                      <p class="card-text small text-gray-600">Changed his profile photo</p>
                    </div>
                    <div class="col-auto">
                      <small class="text-gray-600">1 hour ago</small>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="avatar avatar-circle">
                        <img class="avatar-img" src="../../assets/img/dashboard/avatar33.png" alt="Avatars">
                        <span class="avatar-status avatar-offline">&nbsp;</span>
                      </span>
                    </div>
                    <div class="col ps-1">
                      <h6 class="mb-1">
                        <a href="javascript:void(0);">Linzell Bowman</a>
                      </h6>
                      <p class="card-text small text-gray-600">Updated his stastus to Available</p>
                    </div>
                    <div class="col-auto">
                      <small class="text-gray-600">2 days ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-7 mb-4">
          <div class="card h-100 rounded-12 shadow-dark-80">
            <div class="px-3 px-md-4 py-3 border-bottom border-gray-800 d-flex align-items-center">
              <h6 class="mb-0 py-1">Checklist</h6>
              <div class="ms-auto">
                <select class="form-select form-select-sm">
                  <option>Today</option>
                </select>
              </div>
            </div>
            <div class="card-body px-3 px-md-4">
              <div class="check-list">
                <div class="form-check mb-3 pt-1">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label ms-2" for="flexCheckDefault">
                    Work on new kit style guide and intro
                  </label>
                </div>
                <div class="form-check mb-3 pt-1">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                  <label class="form-check-label ms-2" for="flexCheckDefault1">
                    Download all file assets for Sketch and Figma
                  </label>
                </div>
                <div class="form-check mb-3 pt-1">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                  <label class="form-check-label ms-2" for="flexCheckDefault2">
                    Upgrade network and fix latency issues
                  </label>
                </div>
                <div class="form-check mb-3 pt-1">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                  <label class="form-check-label ms-2" for="flexCheckDefault3">
                    Organize and plan next week work
                  </label>
                </div>
                <div class="form-check mb-2 pt-1">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                  <label class="form-check-label ms-2" for="flexCheckDefault4">
                    Launch müse Bootstrap 5 template
                  </label>
                </div>
              </div>
            </div>
            <div class="row g-0 align-items-center checklist-box px-4 py-3 border-top border-gray-800">
              <div class="col">
                <textarea class="form-control py-0" rows="1" placeholder="Add new item..."></textarea>
              </div>
              <div class="col-auto">
                <button class="btn btn-sm btn-primary text-uppercase rounded">Add Item</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Muse Javascript Plugins -->
<script src="../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/lodash/lodash.min.js"></script>
<script src="../../assets/vendor/highcharts/highmaps.js"></script>
<script src="../../assets/vendor/highcharts/modules/data.js"></script>
<script src="../../assets/vendor/highcharts/mapdata/countries/us/us-all.js"></script>
<script src="../../assets/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="../../assets/js/theme-custom.js"></script>
<script>
checkRTL();

function checkRTL() {
  if(localStorage.getItem('hasRtl') === 'muse-rtl') {
    addRTL();
  }
}

//Muse RTL Mode Javascript
document.querySelectorAll('#RTLMode [type="checkbox"]').forEach(muzeSidebarSwitcher => {
  muzeSidebarSwitcher.addEventListener('click', (e) => {
  let htmlEle = document.querySelector('html');
  let bodyEle =  document.querySelector('body');
  if(htmlEle.getAttribute('dir') == 'rtl') {
  htmlEle.removeAttribute('dir');
  bodyEle.classList.remove('muse-rtl');
  localStorage.setItem('hasRtl','')
  let linkedCss = document.getElementById('hasRtl');
  linkedCss.remove();
  document.getElementById("flexSwitchCheckDefault").checked = false;
  } else {
  addRTL();
  }
  });
});

function addRTL() {
document.querySelector('html').setAttribute('dir','rtl');
document.querySelector('body').classList.toggle('muse-rtl');
localStorage.setItem('hasRtl','muse-rtl');
var rtlCss = document.createElement('link');
rtlCss.href='../../assets/vendor/bootstrap/dist/css/bootstrap.rtl.min.css';
rtlCss.rel='stylesheet';
rtlCss.type='text/css';
rtlCss.media='all';
rtlCss.id='hasRtl';
document.getElementsByTagName('head')[0].prepend(rtlCss);
document.getElementById("flexSwitchCheckDefault").checked = true;
}

  
//Muse Chart Radius JavaScript
Highcharts.wrap(Highcharts.seriesTypes.column.prototype, 'translate', function (proceed) {
  proceed.apply(this, [].slice.call(arguments, 1));
  var series = this,
  cpw = 0.166,
  shapeArgs,
  x, y, h, w;
  Highcharts.each(series.points, function (point) {
    shapeArgs = point.shapeArgs;
    x = shapeArgs.x;
    y = shapeArgs.y;
    h = shapeArgs.height;
    w = shapeArgs.width;
    point.shapeType = 'path';
    if (point.negative) {
      point.shapeArgs = {
        d: [
          'M', x, y,
          'L', x, y + h - w/2,
          'C', x, y + h + w/5, x + w, y + h + w/5, x + w, y + h - w/2, 'L', x + w, y,
          'L', x, y
        ]
      };
    }
    else {
      point.shapeArgs = {
      d: [
        'M', x, y + w/2,
        'L', x, y + h,
        'L', x + w, y + h,
        'L', x + w, y + w/2,
        'C', x + w, y - w/5, x, y - w/5, x, y + w/2]
      };
    }
  });
});

//Muse Columns Chart JavaScript
Highcharts.chart('MuseColumnsChartOne', {
  chart: {
    type: 'column',
    spacingTop: 0,
    spacingBottom: 0,
    spacingLeft: 0,
    spacingRight: 0,
    backgroundColor: null,
  },
  title: {
    text: '',
  },
  legend: {
    enabled: false,
  },
  credits: {
    enabled: false,
  },
  xAxis: {
    lineColor: 'transparent',
    tickLength: 0,
    labels: {
      enabled: false,
    },
  },
  yAxis: {
    gridLineColor: 'transparent',
    title: {
      text: '',
    },
    labels: {
      enabled: false,
    },
  },
  tooltip: {
    enabled: false,
  },
  plotOptions: {
    column: {
      borderRadius: 4,
      borderWidth: 0,
    }
  },
  series: [{
    data: [100, 50, 40, 95, 75, 95, 85],
    color: '#006EFF',
  }]
});

//Muse Single Line Chart JavaScript
Highcharts.chart('MuseMultipleColumnsChartOne', {
  chart: {
    type: 'column',
    backgroundColor: null,
  },
  title: {
    text: '',
  },
  credits: {
    enabled: false,
  },
  xAxis: {
    lineWidth: 0,
    categories: ['Jan 1', 'Jan 2', 'Jan 3', 'Jan 4', 'Jan 5', 'Jan 6', 'Jan 7', 'Jan 8', 'Jan 9', 'Jan 10', 'Jan 11', 'Jan 12'],
    labels: {
      style: {
        color: '#ADB5BD',
        fontSize: '12px',
        fontFamily: "'Open Sans', sans-serif",
      },
    },
  },
  yAxis: {
    gridLineColor: 'rgba(173,181,189,0.3)',
    gridLineDashStyle: 'longdash',
    title: {
      text: '',
    },
    lineWidth: 0,
    lineColor: '#EAEAEA',
    labels: {
      style: {
        color: '#6C757D',
        fontSize: '13px',
        fontFamily: "'Open Sans', sans-serif",
      },
    },
  },
  legend: {
    align: 'left',
    verticalAlign: 'top',
    itemStyle: {
      color: '#6C757D',
      fontSize: '13px',
      fontWeight: 'normal',
      fontFamily: "'Open Sans', sans-serif",
    },
    margin: 50,
    padding: 0,
    symbolWidth: 12,
    symbolHeight: 12,
    itemDistance: 30,
    symbolPadding: 8,
  },
  plotOptions: {
    series: {
      lineWidth: 1,
    },
    column: {
      borderWidth: 0,
    },
  },
  series: [{
    name: '2020',
    color: '#3485FD',
    data: [42, 82, 85, 70, 78, 48, 78, 48, 48, 46, 45, 48],
  },
  {
    name: '2021',
    color: '#E6F0FF',
    data: [84, 70, 62, 50, 48, 65, 88, 68, 65, 63, 64, 65],
  }]
});

//Muse Pie Chart JavaScript
Highcharts.chart('MusePieChartOne', {
  chart: {
    type: 'pie',
    backgroundColor: null,
  },
  title: {
    text: '',
  },
  credits: {
    enabled: false,
  },
  xAxis: {
    lineColor: 'transparent',
    tickLength: 0,
    labels: {
      enabled: false,
    },
  },
  yAxis: {
    gridLineColor: 'transparent',
    title: {
      text: '',
    },
    labels: {
      enabled: false,
    },
  },
  legend: {
    itemStyle: {
      color: '#6C757D',
      fontSize: '12px',
      fontWeight: '500',
      fontFamily: "'Open Sans', sans-serif",
    },
    margin: 30,
    padding: 0,
    symbolWidth: 11,
    symbolHeight: 11,
    itemDistance: 30,
    symbolPadding: 10,
  },
  plotOptions: {
    pie: {
      size: 230,
      borderWidth: 0,
      allowPointSelect: true,
    },
    series: {
      lineWidth: 0,
    },
    column: {
      pointPadding: 0,
      borderWidth: 0,
      pointWidth: 1,
    },
  },
  accessibility: {
    announceNewData: {
      enabled: true,
    },
    point: {
      valueSuffix: '%',
    }
  },
  tooltip: {
    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
  },
  series: [{
    innerSize: '86%',
    dataLabels: [{
      enabled: false,
    }],
    name: 'Browsers',
    showInLegend: true,
    data: [
      {name: 'Direct', y: 20, color: '#81B4FE',},
      {name: 'Refferal', y: 15, color: '#E6F0FF',},
      {name: 'Social', y: 36, color: '#3485FD',}],
    }
  ],
});

//Muse Map Chart JavaScript
Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/us-population-density.json', function (data) {
  data.forEach(function (p) {
    p.code = p.code.toUpperCase();
  });
  Highcharts.mapChart('MuseMapChart', {
    chart: {
      map: 'countries/us/us-all',
      backgroundColor: false,
    },
    title: {
      text: ''
    },
    legend: {
      enabled: false
    },
    credits: {
      enabled:false
    },
    mapNavigation: {
      enabled: false
    },
    colorAxis: {
      min: 1,
      type: 'logarithmic',
      minColor: '#EEEEFF',
      maxColor: '#000022',
      stops: [
        [0, '#262f8a'],
        [0.67, '#2d519d'],
        [1, '#262f8a']
      ]
    },
    plotOptions: {
      series: {
        borderColor: 'rgba(255,255,255,0.05)',
        dataLabels: [{
          enabled: false,
        }],
      },
    },
    series: [{
      animation: {
        duration: 1000
      },
      data: data,
      joinBy: ['postal-code', 'code'],
      dataLabels: {
        enabled: true,
        color: '#FFFFFF',
        format: '{point.code}'
      },
    }]
  });
});
</script>
</body>
</html>